<table cellspacing="0" cellpadding="0" border="0" paginator="true" class="index_table index" id="index_table_links_files">
	<thead>
		<tr>
			<th class="selectable">
				<div class="resource_selection_toggle_cell">
					<input type="checkbox" class="toggle_all" name="collection_selection_toggle_all" id="collection_selection_toggle_all">
				</div>
			</th>
			<th class="sortable sorted-desc id"><a href="/admin/links_files?order=id_asc">Id</a></th>
			<th class="sortable attachment_file_name"><a href="/admin/links_files?order=attachment_file_name_desc">Attachment File Name</a></th>
			<th class="sortable attachment_content_type"><a href="/admin/links_files?order=attachment_content_type_desc">Attachment Content Type</a></th>
			<th class="sortable attachment_file_size"><a href="/admin/links_files?order=attachment_file_size_desc">Attachment File Size</a></th>
			<th class="sortable attachment_updated_at"><a href="/admin/links_files?order=attachment_updated_at_desc">Attachment Updated At</a></th>
			<th class="sortable applied_at"><a href="/admin/links_files?order=applied_at_desc">Applied At</a></th>
			<th class="sortable created_at"><a href="/admin/links_files?order=created_at_desc">Created At</a></th>
			<th class="sortable updated_at"><a href="/admin/links_files?order=updated_at_desc">Updated At</a></th>
			<th class=""></th>
		</tr>
	</thead>
	<tbody>
		<tr id="links_file_1" class="odd">
			<td class="selectable">
				<div class="resource_selection_cell">
					<input type="checkbox" name="collection_selection[]" class="collection_selection" value="1" id="batch_action_item_1">
				</div>
			</td>
			<td class="id"><a class="resource_id_link" href="/admin/links_files/1">1</a></td>
			<td class="attachment_file_name">all_links.txt</td>
			<td class="attachment_content_type">text/plain</td>
			<td class="attachment_file_size">109013</td>
			<td class="attachment_updated_at">June 04, 2013 05:18</td>
			<td class="applied_at"></td>
			<td class="created_at">June 04, 2013 05:18</td>
			<td class="updated_at">June 04, 2013 05:18</td>
			<td class=""><a class="member_link view_link" href="/admin/links_files/1">View</a><a class="member_link edit_link" href="/admin/links_files/1/edit">Edit</a><a rel="nofollow" data-method="delete" data-confirm="Are you sure you want to delete this?" class="member_link delete_link" href="/admin/links_files/1">Delete</a></td>
		</tr>
	</tbody>
</table>