.cate2 ul li span#adelaide {background-position:0 0;}
.cate2 ul li span#amp {background-position:0 -43px;}
.cate2 ul li span#anz {background-position:0 -84px;}
.cate2 ul li span#bankwest {background-position:0 -127px;}
.cate2 ul li span#bendigo {background-position:0 -166px;}
.cate2 ul li span#boq {background-position:0 -210px;}
.cate2 ul li span#commonbank {background-position:0 -249px;}
.cate2 ul li span#defence {background-position:0 -291px;}
.cate2 ul li span#f-amerciaexpress {background-position:16px -333px;}
.cate2 ul li span#f-arab {background-position:0 -375px;}
.cate2 ul li span#f-beiruthellenic {background-position:0 -417px;}
.cate2 ul li span#f-bocau {background-position:0 -457px;}
.cate2 ul li span#f-bocyprus {background-position:0 -498px;}
.cate2 ul li span#f-citi {background-position:0 -541px;}
.cate2 ul li span#f-hsbc {background-position:0 -583px;}
.cate2 ul li span#f-ing {background-position:0 -626px;}
.cate2 ul li span#f-investec {background-position:0 -670px;}
.cate2 ul li span#f-rabo {background-position:0 -711px;}
.cate2 ul li span#heritage {background-position:0 -754px;}
.cate2 ul li span#macquare {background-position:0 -795px;}
.cate2 ul li span#me {background-position:20px -853px;}
.cate2 ul li span#mecu {background-position:0 -895px;}
.cate2 ul li span#nab {background-position:6px -937px;}
.cate2 ul li span#qtmb {background-position:0 -980px;}
.cate2 ul li span#rba {background-position:0 -1024px;}
.cate2 ul li span#rural {background-position:0 -1062px;}
.cate2 ul li span#sa {background-position:0 -1104px;}
.cate2 ul li span#st-george {background-position:0 -1148px;}
.cate2 ul li span#suncorp {background-position:3px -1191px;}
.cate2 ul li span#ubank {background-position:12px -1232px;}
.cate2 ul li span#westpac {background-position:16px -1274px;}
